*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: white;
  width: 7rem;
  height: 7rem;
  position: fixed;
  top: 4rem;
  right: 4rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(#000, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#112238, #ee7112);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  height: 100vh;
  width: 0%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* background-color: orangered; */
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
}
.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 2.5rem;
  font-family: Garamond;
  font-weight: 300;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 225%;
  transition: all 0.4s;
  color: white;
}
.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #112238;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 110%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.header__text-box {
  padding-top: 15rem;
}
.header__logo {
  position: absolute;
  top: 3rem;
  left: 3rem;
  width: 15rem;
  height: 10rem;
}

.header-container {
  padding: 0 1rem;
  font-family: Garamond;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  /* box-sizing: border-box; */
}

.heading-primary {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-family: Garamond;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  animation-name: moveInLeft;
  animation-duration: 3s;
  margin-bottom: 4rem;
  /* animation-delay: 2s; 
      animation-iteration-count: 3;
      animation-timing-function: ease-in;
      */
}

.heading-primary--sub {
  display: block;
  font-family: Garamond;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  animation-name: moveInRight;
  animation-duration: 3s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.header {
  width: 100%;
  height: 120vh;
  background-image: linear-gradient(to right bottom, #112238, #ed7114);
  clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
  position: relative;
  background-repeat: no-repeat;
  background-position-x: 100%;
  position: relative;
  /* background-position: 100%; */
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo-image {
  height: 3.5rem;
}

.header__text-box {
  /* margin: 0 auto; */
  width: 127rem;
  /* background-color: red; */
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.image-header-container {
  position: absolute;
  top: 8rem;
  left: 80rem;
  width: 40rem;
  height: 80rem;
}

.button:link,
button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 3px;
  transition: all 0.2s;
  position: relative;
  font-size: 2rem;
  font-family: Garamond;
}
.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(#000, 0.2);
}
.button:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
}
.btn--white {
  background-color: #0d0e26;
  color: #777;
}
.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--white::after {
  background-color: #0d0e26;
}
.button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--animated {
  animation: moveInBottom 0.4s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.Layout-container-body {
  padding: 30px;
}
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  height: 200vh;
}
.main-about-container {
  padding: 0 1rem;
  font-family: Garamond;
  font-weight: 400;
  width: 100%;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
  margin-top: -25vh;
}
.section-about {
  padding-left: 6.5rem;
}
.headig-secondary {
  font-size: 2.5rem;
  font-family: Garamond;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #0d0e26, #0c0e4e);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 1px;
}
.headig-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.u-center-text {
  text-align: center;
}
.u-margin-bottom-8 {
  margin-bottom: 8rem;
}
.row1-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  /* padding: 0 3rem;  */
  font-family: Garamond;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
/* .row::after {
  content: "";
  display: table;
  clear: both;
} */
.cols1 {
  width: 40%;
}
.cols2 {
  width: 50%;
  margin-top: -30%;
  margin-left: 10%;
}
.heading-tertiary {
  font-family: Garamond;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
}
.paragraph {
  font-size: 1.6rem;
  font-family: Garamond;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}
.u-margin-bottom-2 {
  margin-bottom: 1.5rem;
}
.btn-text:link,
:visited {
  color: #0d0e26;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #0d0e26;
  padding: 3px;
  font-size: 1.6rem;
  font-family: Garamond;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #0d0e26;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}
.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  /* border-radius: 2px; */
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 1rem;
}
.composition__photo--p1 {
  top: 0;
  left: -2rem;
  height: 25rem;
}
.composition__photo--p2 {
  right: 10rem;
  top: 2rem;
  height: 25rem;
}
.composition__photo--p3 {
  left: 15%;
  top: 17rem;
  height: 20rem;
}
.composition__photo:hover {
  outline: 1rem solid #ee7112;
  transform: scale(1) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 15;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.85);
}
.section-features {
  padding: 20rem;
  padding-left: 8rem;
  background-image: linear-gradient(to right bottom, #112238f8, #ed721480),
    url("./image/img.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -5rem;
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
  width: 100%;
}
.headig-secondary-skills {
  color: white;
  transform: skewY(7deg);
}
.feature-box__icon-1 {
  height: 8rem;
}
.feature-box__icon-2 {
  height: 8rem;
}
.feature-box__icon-3 {
  height: 8rem;
}
.feature-box__icon-4 {
  height: 8rem;
}

.col-1-0f-4 {
  margin-left: 2rem;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.feature-box__icon {
  margin-bottom: 2rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
.row2 {
  display: flex;
  transform: skewY(7deg); /*avoid it to be skewed as the whole container */
}
.sections-tour {
  padding: 25rem 0 5rem 0;
  background-color: #f7f7f7;
  margin-top: -10rem;
  width: 100%;
}
.sections-tour .row {
  padding: 10rem 5rem;
}

.row3-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*functionality*/
.card1 {
  perspective: 150rem; /* we want to remove the perspective kwicurika kwa magamo */
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  padding: 3rem;
  width: 30%;
}
.card1__side {
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card1__side--front {
  background-color: #fff;
}
.card1__side--back {
  transform: rotateY(180deg);
}
.card1:hover .card1__side--front {
  transform: rotateY(-180deg);
}
.card1:hover .card1__side--back {
  transform: rotateY(0deg);
}
.card1__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

/*front side  styling*/
.card1__picture {
  background-size: cover;
  height: 25rem;
  background-blend-mode: screen; /*to make the picture be seen in color you can use different oppstion you want*/
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
}
.card1__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
    url("./image/react.png");
}
.card1__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card1__heading--span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone; /*to be readed on other browser tht why we use -webkit */
  box-decoration-break: clone; /*to remove the padding arround on text and bacground*/
}
.card1__heading--span-1 {
  background-image: linear-gradient(to right bottom, #ffbb0086, #ff783085);
}
.card1__detail {
  padding: 2rem;
}
ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card2__list {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card2__list:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card1__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card1__price-box {
  text-align: center;
  margin-bottom: 8rem;
  color: white;
}
.card1__price-only {
  font-family: Garamond;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card1__price-value {
  font-size: 6rem;
  font-weight: 100;
  font-family: Garamond;
}
.card1__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485),
    url("./image/mongo.webp");
}
.card1__heading--span-2 {
  background-image: linear-gradient(to right bottom, #7ed56f85, #28b48591);
}
.card1__picture--3 {
  background-image: linear-gradient(to right bottom, #0c0d64, #04083a),
    url("./image/java.webp");
}
.card1__heading--span-3 {
  background-image: linear-gradient(to right bottom, #0c0d6481, #04083a91);
}
.card1__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card1__side--back-3 {
  background-image: linear-gradient(to right bottom, #0c0d64, #04083a);
}
.btn--green {
  background-image: #0d0e26;
  color: white;
  font-size: large;
}
.u-margin-top-big a:hover {
  color: white;
}

.section-stories {
  padding: 15rem 0;
  /* background-color: #f7f7f7; */
  position: relative;
}
.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(
    -12deg
  ); /*to make rectangle shape look like a apararellerogram*/
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.story__shape {
  width: 18rem;
  height: 18rem;

  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg); /*margi left is to add the space between shape and text and rote shape in oposite side of conntainer*/
  position: relative;
}
.story_img {
  height: 100%;
  /* transform: translateX(-3rem);*/ /*use it to center the image in the middle*/
  backface-visibility: hidden;
  transform: translateX(-3.5rem) scale(1.4);
  transition: all 0.5s;
}
.story__text {
  transform: skewX(12deg);
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 900;
  color: #ee7112;
  transform: translate(-50%, 20%);
  text-transform: uppercase;
  font-family: Garamond;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden; /*yoy can remove it and see the change */
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story_img {
  transform: scale(1);
  /* filter: blur(3px) brightness(80%); */
  filter: opacity(0.9);
  backface-visibility: hidden;
}
.row5 {
  margin-bottom: 3rem;
}
.second-button a {
  margin-left: 50rem;
}
.bg-video {
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;

  /* overflow: hidden; */ /*we use this when we use object-fit:cover*/
}
.bg-video__container {
  width: 100%;
  height: 100%;
  object-fit: fill;
  /* object-fit: cover; */
}
.section-book {
  padding: 15rem 10rem;
  background-image: linear-gradient(to right bottom, #ff7730, #ff7730);
}
.book {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 50%
    ),
    url("./image/nathan-da-silva-k-rKfqSm4L4-unsplash.jpg");
  background-size: 100%;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
.book__form {
  width: 50%;
  padding: 6rem;
}
.heading-form {
  padding: 0 0 5rem 0;
}
.form {
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  color: black;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: #7f7f7f34;
  border: none;
  font-family: Garamond;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.form__label {
  font-size: 1.2rem;
}
@media only screen and (max-width: 280px) {
  .header {
    width: 100%;
    height: 120vh;
    /* background-image: linear-gradient(to right bottom, #0a700f, #250452); */
  }
  .header__logo {
    display: none;
  }
  .navigation__button {
    width: 6.5rem;
    height: 6.5rem;
    position: fixed;
    top: 3rem;
    left: 20rem;
  }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 3rem;
    left: 20rem;
  }

  .heading-primary {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 1rem;
  }

  .heading-primary--main {
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    margin-left: 10rem;
    margin-top: 25rem;
  }

  .heading-primary--sub {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0rem;
    margin-left: 10rem;
  }
  .image-header-container {
    position: absolute;
    top: 5rem;
    left: 1rem;
    width: 80%;
    height: 60vh;
  }
  .button:link,
  button:visited {
    padding: 1rem 1rem;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 6rem;
  }
  .section-about {
    background-color: #f7f7f7;
    padding: 3rem 0;
    height: 200vh;
  }
  .headig-secondary {
    font-size: 1.3rem;
    margin-top: 10rem;
    /* color: #0a700f; */
  }

  .cols1 {
    width: 100%;
  }
  .cols2 {
    display: none;
  }
  .heading-tertiary {
    font-family: Garamond;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    /* color: red; */
  }
  .main-about-container {
    width: 100%;
    line-height: 0;
    box-sizing: border-box;
    margin-top: -25vh;
  }
  .section-about {
    padding: 1rem;
    height: 300vh;
  }
  .u-margin-bottom-8 {
    margin-bottom: 0.5rem;
  }
  .row2 {
    display: block;
    transform: skewY(7deg); /*avoid it to be skewed as the whole container */
  }
  .section-features {
    padding: 0rem;
    height: 300vh;
  }
  .feature-box {
    font-size: 1.5rem;
    padding: 1rem;
    line-height: 1.7;
    width: 100%;
  }
  .col-1-0f-4 {
    margin-left: 0rem;
    margin-bottom: 2rem;
    padding-right: 1.5rem;
  }

  .sections-tour {
    padding: 2rem 0 5rem 0;
    background-color: #f7f7f7;
    margin-top: -10rem;
    width: 100%;
  }
  .sections-tour .row {
    padding: 1rem 0.3rem;
    line-height: 1rem;
  }

  .row3-container {
    display: block;
  }
  .card1 {
    height: 52rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  .card1__heading {
    font-size: 1.8rem;
  }
  .card1__picture {
    height: 45vh;
  }
  .card1__picture--3 {
    background-image: linear-gradient(to right bottom, #0c0d64, #04083a),
      url("./image/java.webp");
    margin-left: -2rem;
  }
  .section-stories {
    padding: 1rem 0;
    /* background-color: #f7f7f7; */
    position: relative;
  }
  .story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    margin-left: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    transform: skewX(
      -12deg
    ); /*to make rectangle shape look like a apararellerogram*/
    line-height: 0.9;
    font-size: 0.4rem;
  }
  .story__shape {
    width: 3rem;
    height: 6rem;
    float: left;
    margin-left: 3rem;
  }
  .u-margin-bottom-small {
    font-size: 0.8rem;
  }
  .small-dev {
    font-size: 0.9rem;
  }

  .section-book {
    padding: 2rem 1rem;
  }
  .book {
    background-size: 100%;
    height: 40vh;
  }
  .book__form {
    width: 50%;
    padding: 1rem;
  }

  .heading-form {
    padding: 0 0 1rem 0;
  }
  .form__input {
    font-size: 1.5rem;
    color: black;
    padding: 0.1rem 0.1rem;
    border-radius: 2px;
    height: 4vh;
  }
  .heading-form {
    margin-top: 0rem;
    font-size: 1rem;
  }
}
@media (min-width: 281px) and (max-width: 481px) {
  .header {
    width: 100%;
    height: 120vh;
    /* background-image: linear-gradient(to right bottom, #0a700f, #04521b); */
  }
  .header__logo {
    display: none;
  }
  .navigation__button {
    width: 6.5rem;
    height: 6.5rem;
    position: fixed;
    top: 3rem;
    left: 30rem;
  }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 3.3rem;
    left: 30rem;
  }

  .heading-primary {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 1rem;
  }

  .heading-primary--main {
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
    margin-left: 10rem;
    margin-top: 25rem;
  }

  .heading-primary--sub {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0rem;
    margin-left: 10rem;
  }
  .image-header-container {
    position: absolute;
    top: 5rem;
    left: 5rem;
    width: 40%;
    height: 50vh;
  }
  .button:link,
  button:visited {
    padding: 1rem 1rem;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 6rem;
  }
  .section-about {
    background-color: #f7f7f7;
    padding: 3rem 0;
    height: 70vh;
  }
  .headig-secondary {
    font-size: 2.3rem;
    margin-top: 15rem;
    /* color: #0a700f; */
  }

  .cols1 {
    width: 100%;
  }
  .cols2 {
    display: none;
  }
  .heading-tertiary {
    font-family: Garamond;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    /* color: red; */
  }
  .main-about-container {
    width: 100%;
    line-height: 0;
    box-sizing: border-box;
    margin-top: -25vh;
  }
  .section-about {
    padding: 1rem;
    height: 180vh;
  }
  .u-margin-bottom-8 {
    margin-bottom: 0.5rem;
  }
  .row2 {
    display: block;
    transform: skewY(7deg); /*avoid it to be skewed as the whole container */
  }
  .section-features {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0rem;
    height: 250vh;
    padding-top: 3rem;
  }
  .feature-box {
    font-size: 1.5rem;
    padding: 1rem;
    line-height: 1.7;
    width: 100%;
    margin-left: 0.8rem;
  }
  .col-1-0f-4 {
    margin-left: 0rem;
    margin-bottom: 2rem;
    padding-right: 1.5rem;
  }

  .sections-tour {
    padding: 2rem 0 5rem 2rem;
    background-color: #f7f7f7;
    margin-top: -10rem;
    width: 100%;
  }
  .sections-tour .row {
    padding: 1rem 0.3rem;
    line-height: 1rem;
  }

  .row3-container {
    display: block;
  }
  .card1 {
    height: 52rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  .card1__heading {
    font-size: 1.8rem;
  }
  .card1__picture {
    height: 45vh;
  }
  .card1__picture--3 {
    background-image: linear-gradient(to right bottom, #0c0d64, #04083a),
      url("./image/java.webp");
    margin-left: -2rem;
  }
  .section-stories {
    padding: 1rem 0;
    /* background-color: #f7f7f7; */
    position: relative;
  }
  .story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    margin-left: 4rem;
    padding: 1rem;
    padding-left: 2rem;
    transform: skewX(
      -12deg
    ); /*to make rectangle shape look like a apararellerogram*/
    line-height: 0.9;
    font-size: 0.4rem;
  }
  .story__shape {
    width: 3rem;
    height: 6rem;
    float: left;
    margin-left: 3rem;
  }
  .u-margin-bottom-small {
    font-size: 1rem;
  }
  .small-dev {
    font-size: 1.5rem;
  }

  .section-book {
    padding: 2rem 1rem;
  }
  .book {
    background-size: 100%;
    height: 40vh;
  }
  .book__form {
    width: 50%;
    padding: 1rem;
  }

  .heading-form {
    padding: 0 0 1rem 0;
  }
  .form__input {
    font-size: 1.5rem;
    color: black;
    padding: 0.1rem 0.1rem;
    border-radius: 2px;
    height: 4vh;
  }
  .heading-form {
    margin-top: 0rem;
    font-size: 1rem;
  }
}

@media (min-width: 482px) and (max-width: 599px) {
  .header {
    width: 100%;
    height: 120vh;
    /* background-image: linear-gradient(to right bottom, #0a700f, #9e0606); */
  }
  .header__logo {
    display: none;
  }
  .navigation__button {
    width: 6.5rem;
    height: 6.5rem;
    position: fixed;
    top: 3rem;
    left: 34rem;
  }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 3.3rem;
    left: 34rem;
  }

  .heading-primary {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 1rem;
  }

  .heading-primary--main {
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
    margin-left: 27rem;
    margin-top: 25rem;
  }

  .heading-primary--sub {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0rem;
    margin-left: 27rem;
  }
  .image-header-container {
    position: absolute;
    top: 10rem;
    left: 20rem;
    width: 30%;
    height: 50vh;
  }
  .button:link,
  button:visited {
    padding: 1rem 1rem;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 30rem;
  }
  .section-about {
    background-color: #f7f7f7;
    padding: 3rem 0;
    height: 70vh;
  }
  .headig-secondary {
    font-size: 2rem;
    margin-top: 15rem;
    /* color: #0a700f; */
  }

  .cols1 {
    width: 100%;
  }
  .cols2 {
    display: none;
  }
  .heading-tertiary {
    font-family: Garamond;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    /* color: red; */
  }
  .main-about-container {
    width: 100%;
    line-height: 0;
    box-sizing: border-box;
    margin-top: -25vh;
  }
  .section-about {
    padding: 1rem;
    height: 150vh;
  }
  .u-margin-bottom-8 {
    margin-bottom: 0.5rem;
  }
  .row2 {
    display: block;
    transform: skewY(7deg); /*avoid it to be skewed as the whole container */
  }
  .section-features {
    padding: 0rem;
    height: 200vh;
  }
  .feature-box {
    font-size: 1.5rem;
    padding: 1rem;
    line-height: 1.7;
    width: 100%;
  }
  .col-1-0f-4 {
    margin-left: 0rem;
    margin-bottom: 2rem;
    padding-right: 1.5rem;
  }

  .sections-tour {
    padding: 2rem 0 5rem 0;
    background-color: #f7f7f7;
    margin-top: -10rem;
    width: 100%;
  }
  .sections-tour .row {
    padding: 1rem 0.3rem;
    line-height: 1rem;
  }

  .row3-container {
    display: block;
  }
  .card1 {
    height: 52rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  .card1__heading {
    font-size: 1.8rem;
  }
  .card1__picture {
    height: 45vh;
  }
  .card1__picture--3 {
    background-image: linear-gradient(to right bottom, #0c0d64, #04083a),
      url("./image/java.webp");
    margin-left: -2rem;
  }
  .section-stories {
    padding: 1rem 0;
    /* background-color: #f7f7f7; */
    position: relative;
  }
  .story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    margin-left: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    transform: skewX(
      -12deg
    ); /*to make rectangle shape look like a apararellerogram*/
    line-height: 0.9;
    font-size: 0.4rem;
  }
  .story__shape {
    width: 3rem;
    height: 6rem;
    float: left;
    margin-left: 3rem;
  }
  .u-margin-bottom-small {
    font-size: 0.8rem;
  }
  .small-dev {
    font-size: 0.9rem;
  }

  .section-book {
    padding: 2rem 1rem;
  }
  .book {
    background-size: 100%;
    height: 40vh;
  }
  .book__form {
    width: 50%;
    padding: 1rem;
  }

  .heading-form {
    padding: 0 0 1rem 0;
  }
  .form__input {
    font-size: 1.5rem;
    color: black;
    padding: 0.1rem 0.1rem;
    border-radius: 2px;
    height: 4vh;
  }
  .heading-form {
    margin-top: 0rem;
    font-size: 1rem;
  }
}

@media (min-width: 601px) and (max-width: 713px) {
  .header {
    width: 100%;
    height: 120vh;
    /* background-image: linear-gradient(to right bottom, #700a0a, #068c9e); */
  }
  .header__logo {
    position: absolute;
    top: 2rem;
    left: 8rem;
    width: 14rem;
    height: 8rem;
  }
  .navigation__button {
    width: 6.5rem;
    height: 6.5rem;
    position: fixed;
    top: 3rem;
    left: 45rem;
  }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 3.3rem;
    left: 45rem;
  }

  .heading-primary {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 1rem;
  }

  .heading-primary--main {
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
    margin-left: 27rem;
    margin-top: 25rem;
  }

  .heading-primary--sub {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0rem;
    margin-left: 27rem;
  }
  .image-header-container {
    position: absolute;
    top: 10rem;
    left: 20rem;
    width: 30%;
    height: 50vh;
  }
  .button:link,
  button:visited {
    padding: 1rem 1rem;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 30rem;
  }
  .section-about {
    background-color: #f7f7f7;
    padding: 3rem 0;
    height: 70vh;
  }
  .headig-secondary {
    font-size: 2rem;
    margin-top: 15rem;
    /* color: #0a700f; */
  }

  .cols1 {
    width: 65%;
  }
  .cols2 {
    display: none;
  }
  .heading-tertiary {
    font-family: Garamond;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    /* color: red; */
  }
  .main-about-container {
    width: 100%;
    line-height: 0;
    box-sizing: border-box;
    margin-top: -25vh;
    margin-left: 0.1rem;
  }
  .section-about {
    padding: 1rem;
    height: 180vh;
  }
  .u-margin-bottom-8 {
    margin-bottom: 0.5rem;
  }
  .row2 {
    display: block;
    transform: skewY(7deg); /*avoid it to be skewed as the whole container */
  }
  .section-features {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0rem;
    height: 250vh;
    padding-top: 3rem;
  }
  .feature-box {
    font-size: 1.5rem;
    padding: 1rem;
    line-height: 1.7;
    width: 90%;
    margin-left: 0.8rem;
  }
  .col-1-0f-4 {
    margin-left: 0rem;
    margin-bottom: 2rem;
    padding-right: 1.5rem;
  }

  .sections-tour {
    padding: 2rem 0 5rem 2rem;
    background-color: #f7f7f7;
    margin-top: -10rem;
    width: 100%;
  }
  .sections-tour .row {
    padding: 1rem 0.3rem;
    line-height: 1rem;
  }

  .row3-container {
    display: block;
  }
  .card1 {
    height: 52rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  .card1__heading {
    font-size: 1.8rem;
  }
  .card1__picture {
    height: 45vh;
  }
  .card1__picture--3 {
    background-image: linear-gradient(to right bottom, #0c0d64, #04083a),
      url("./image/java.webp");
    margin-left: -2rem;
  }
  .section-stories {
    padding: 1rem 0;
    /* background-color: #f7f7f7; */
    position: relative;
  }
  .story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    margin-left: 4rem;
    padding: 1rem;
    padding-left: 2rem;
    transform: skewX(
      -12deg
    ); /*to make rectangle shape look like a apararellerogram*/
    line-height: 0.9;
    font-size: 0.4rem;
  }
  .story__shape {
    width: 3rem;
    height: 6rem;
    float: left;
    margin-left: 3rem;
  }
  .u-margin-bottom-small {
    font-size: 1rem;
  }
  .small-dev {
    font-size: 1.5rem;
  }

  .section-book {
    padding: 2rem 1rem;
  }
  .book {
    background-size: 100%;
    height: 40vh;
  }
  .book__form {
    width: 50%;
    padding: 1rem;
  }

  .heading-form {
    padding: 0 0 1rem 0;
  }
  .form__input {
    font-size: 1.5rem;
    color: black;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    height: 4vh;
  }
  .heading-form {
    margin-top: 0rem;
    font-size: 2rem;
  }
}
@media (min-width: 714px) and (max-width: 1024px) {
  .header {
    width: 100%;
    height: 120vh;
    /* background-image: linear-gradient(to right bottom, #700a56, #04521b); */
  }
  .header__logo {
    position: absolute;
    top: 3rem;
    left: 6rem;
    width: 15rem;
    height: 10rem;
  }
  .header__text-box {
    /* margin: 0 auto; */
    width: 127rem;
    /* background-color: red; */
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .navigation__button {
    width: 6.5rem;
    height: 6.5rem;
    position: fixed;
    top: 3rem;
    right: 10rem;
  }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 3.3rem;
    right: 10rem;
  }

  .heading-primary {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 1rem;
  }

  .heading-primary--main {
    font-size: 4rem;
    letter-spacing: 0.3rem;
    margin-left: 10rem;
    margin-top: 25rem;
    /* margin: 3px */
  }

  .med-device {
    font-size: 2rem;
  }

  .heading-primary--sub {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0rem;
    margin-left: 10rem;
  }
  .image-header-container {
    position: absolute;
    top: 18rem;
    left: 65rem;
    width: 20%;
    height: 60vh;
  }
  .button:link,
  button:visited {
    padding: 1rem 1rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 6rem;
  }

  .headig-secondary {
    font-size: 3.3rem;
    margin-top: 15rem;
    margin-right: 15%;

    /* color: #0a700f; */
  }

  .cols1 {
    width: 80%;
  }
  .cols2 {
    display: none;
  }
  .heading-tertiary {
    font-family: Garamond;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    /* color: red; */
  }
  .main-about-container {
    width: 100%;
    line-height: 0;
    box-sizing: border-box;
    margin-top: -25vh;
  }
  .section-about {
    padding: 1rem;
    height: 150vh;
  }
  .u-margin-bottom-8 {
    margin-bottom: 0.5rem;
  }
  .row2 {
    display: block;
    transform: skewY(7deg); /*avoid it to be skewed as the whole container */
  }
  .section-features {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0rem;
    height: 290vh;
    padding-top: 3rem;
  }
  .feature-box {
    font-size: 2.5rem;
    padding: 1rem;
    line-height: 1.7;
    width: 60%;
    margin-left: 10rem;
    margin-top: 3rem;
  }
  .col-1-0f-4 {
    margin-left: 0rem;
    margin-bottom: 2rem;
    padding-right: 1.5rem;
  }

  .sections-tour {
    padding: 2rem 0 5rem 2rem;
    background-color: #f7f7f7;
    margin-top: -7rem;
    width: 100%;
  }
  .sections-tour .row {
    padding: 1rem 0.3rem;
    line-height: 2rem;
  }

  .row3-container {
    display: block;
  }
  .card1 {
    height: 52rem;
    padding: 1rem;
    width: 60%;
    margin-bottom: 2rem;
    margin-left: 10rem;
  }
  .card1__heading {
    font-size: 1.8rem;
  }
  .card1__picture {
    height: 45vh;
  }
  .card1__picture--3 {
    background-image: linear-gradient(to right bottom, #0c0d64, #04083a),
      url("./image/java.webp");
    margin-left: -2rem;
  }
  .section-stories {
    padding: 1rem 0;
    /* background-color: #f7f7f7; */
    position: relative;
  }
  .story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    margin-left: 4rem;
    padding: 1rem;
    padding-left: 2rem;
    transform: skewX(
      -12deg
    ); /*to make rectangle shape look like a apararellerogram*/
    line-height: 0.9;
    font-size: 0.4rem;
  }
  .story__shape {
    width: 5rem;
    height: 8rem;
    float: left;
    margin-left: 3rem;
  }
  .btn-text1 {
    margin-right: 10rem;
  }
  .u-margin-bottom-small {
    font-size: 2.7rem;
  }
  .small-dev {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }

  .section-book {
    padding: 5rem 7rem;
  }
  .book {
    background-size: 100%;
    height: 60vh;
  }
  .book__form {
    width: 50%;
    padding: 1rem;
  }

  .heading-form {
    padding: 0 0 1rem 0;
  }
  .form__input {
    font-size: 1.7rem;
    color: black;
    padding: 1rem 0.9rem;
    border-radius: 2px;
    height: 7vh;
  }
  .heading-form {
    margin-top: 0rem;
    font-size: 2rem;
  }
}
